/* variables */
:root {
  --bodyColor: #eee;
  --themeColor: #252a2d;
  --normalFont: 1rem;
}

/* base */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bodyColor);
  color: var(--themeColor);
  position: relative;
  font-size: var(--normalFont);
}

/* reusable css */
.x-margin {
  margin: 0 1.5rem;
}

/* header section*/
.header {
  width: 100%;
  height: 40vh;
  background-color: var(--themeColor);
  position: relative;
}

.header_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
.header_texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 0.25rem;
}
.header_texts h1 {
  color: #ed9009;
  font-size: 5rem;
}
.header_texts img {
  max-width: 95%;
}

/* countries section */
.countries_contents {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin-top: 0.75rem;
}
.countries_contents h3 {
  opacity: 0.6;
  font-size: 1.25rem;
  font-weight: bolder;
}
.countries_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  width: 100%;
}

.country_card {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  align-items: center;
  border-radius: 8px;
  max-width: 350px;
  cursor: pointer;
}
.country_card_img {
  width: 60px;
}
.country_card_name {
  font-size: medium;
  font-weight: bolder;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}
.footer_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.footer_contents img {
  max-width: 70px;
  opacity: 0.6;
}
.footer_contents p {
  opacity: 0.5;
  font-size: 0.8rem;
}

/* MEDIA QUERIES */
/* mobile screens */
@media screen and (max-width: 480px) {
  .header {
    height: 30vh;
  }
  .header_texts h1 {
    font-size: 2.5rem;
  }
  .header_texts img {
    max-width: 99%;
  }
}
/* non-mobile screens */
@media screen and (min-width: 481px) {
  :root {
    --normalFont: 1.25rem;
  }
  .countries_wrapper {
    gap: 1rem;
  }
}

/* small devices screens */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header_texts h1 {
    font-size: 4rem;
  }
  .countries_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* tablets screens */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header_texts h1 {
    font-size: 4rem;
  }
  .header_texts img {
    max-width: 80%;
  }
  .countries_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* bigger tablets screens */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .x-margin {
    margin: 0 2rem;
  }
  .header_texts img {
    max-width: 80%;
  }
  .countries_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* desktops */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .x-margin {
    margin: 0 3rem;
  }
  .header_texts img {
    max-width: 70%;
  }
  .countries_wrapper {
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
  }
}

/* extra large screens */
@media screen and (min-width: 1920px) {
  .x-margin {
    margin: 0 4rem;
  }
  .header_texts img {
    max-width: 60%;
  }
  .countries_wrapper {
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
  }
}
